# SEMANA 02
### MARYSOL CANTARERO VELAZQUEZ DEL VALLE

In [1]:
# Importando Paquetes
import pandas as pd
import numpy as np
from sklearn.neighbors.kde import KernelDensity
import matplotlib.pyplot as plt
from matplotlib.pyplot import plot
import scipy.stats as st
import statsmodels.datasets
import plotly.plotly as py
from plotly import tools
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
%matplotlib inline

## DESCARGA DE INFORMACIÓN

In [2]:
def f1_leer_excel(data):
    info = pd.read_excel(data)
    info = info.fillna(0)
    return(info)

In [3]:
data = pd.read_excel('datos_ejemplo_1.xlsx', sheet_name=None, header=0)

In [4]:
pestañas = []
for i in data.keys():
    pestañas.append(i)

In [5]:
npest = len(pestañas)
hojas = []
for i in range(npest):
    data[i] = data[pestañas[i]]
    hojas.append(data[i])

In [25]:
info1, info2, info3, info4, info5, info6, info7, info8, info9, info10, info11 = hojas[0],hojas[1],hojas[2],hojas[3],hojas[4],hojas[5],hojas[6],hojas[7],hojas[8],hojas[9],hojas[10]

# ACOMODO DE INFORMACIÓN PARA TRABAJAR

In [26]:
val = info1['Valuacion']
val.head()

0    9.827297e+07
1    7.342905e+07
2    1.261004e+08
3    7.600080e+07
4    1.580456e+08
Name: Valuacion, dtype: float64

In [27]:
flujos_E_min = info2.transpose()
flujos_E_min.head()

,ingresos_totales,egresos_pub,egresos_rh,egresos_tec,egresos_servicios,egresos_totales,ebitda,impuestos,resultado,resultado_acum
t_0,140223.525,-50000.0,-159000.0,-9676.67,-23200.0,-241876.67,-101653.145,0.0000,-101653.1450,-101653.1450
t_1,232255.725,-50000.0,-159000.0,-9740.67,-23200.0,-241940.67,-9684.945,0.0000,-9684.9450,-111338.0900
t_2,287981.850,-50000.0,-159000.0,-9792.17,-23200.0,-241992.17,45989.680,13796.9040,32192.7760,-79145.3140
t_3,329423.250,-50000.0,-159000.0,-9835.67,-23200.0,-242035.67,87387.580,26216.2740,61171.3060,-17974.0080
t_4,469871.025,-50000.0,-159000.0,-9876.67,-23200.0,-242076.67,227794.355,68338.3065,159456.0485,141482.0405

In [30]:
# COLUMNAS flujos_E_min
ingresos_totales = flujos_E_min['ingresos_totales']
ingresos_totales

t_0     140223.525
t_1     232255.725
t_2     287981.850
t_3     329423.250
t_4     469871.025
t_5     495996.150
t_6     539814.600
t_7     565737.900
t_8     491219.625
t_9     608121.150
t_10    620477.325
t_11    548291.250
t_12    626352.675
t_13    520304.850
t_14    445136.250
t_15    410826.000
t_16    394209.075
t_17    369541.575
t_18    455541.450
t_19    467247.300
t_20    438162.075
t_21    427061.700
t_22    489223.800
t_23    449778.225
t_24    460250.700
t_25    399770.475
t_26    435224.400
t_27    414324.300
t_28    471799.575
t_29    415871.625
           ...
t_66    524834.700
t_67    507253.500
t_68    559458.900
t_69    502006.050
t_70    443633.775
t_71    634829.325
t_72    585606.450
t_73    556723.050
t_74    555713.925
t_75    579260.175
t_76    649876.500
t_77    624491.400
t_78    726435.450
t_79    728812.500
t_80    611910.975
t_81    585449.475
t_82    521157.000
t_83    550914.975
t_84    570850.800
t_85    503172.150
t_86    526494.150
t_87    472831.125
t_88    458793.075
t_89    466238.175
t_90    420491.175
t_91    445517.475
t_92    572846.625
t_93    631667.400
t_94    612494.025
t_95    642431.400
Name: ingresos_totales, Length: 96, dtype: float64

In [9]:
info3 = info3.transpose()
info3.head()

     ctes_act  ctes_aba  cac_prom  ing_prom  capc    pv    vu    uc
t_0       0.0       0.0    388.37   1095.50  0.47  0.11  0.10  0.11
t_1     128.0      25.0    431.46   1127.45  0.47  0.09  0.09  0.12
t_2     206.0      66.0    470.53   1124.93  0.47  0.09  0.07  0.13
t_3     256.0     117.0    499.00   1116.69  0.47  0.10  0.13  0.06
t_4     295.0     176.0    431.21   1110.81  0.47  0.10  0.13  0.13

In [10]:
info4 = info4.transpose()
info4.head()

     Empleados_Totales  Egreso_Total  M_Sueldo  T_Prest_i  T_Prest_g
t_0                8.0     -159000.0       1.0        0.0        0.0
t_1                8.0     -159000.0       1.0        0.0        0.0
t_2                8.0     -159000.0       1.0        0.0        0.0
t_3                8.0     -159000.0       1.0        0.0        0.0
t_4                8.0     -159000.0       1.0        0.0        0.0

In [11]:
info5 = info5.transpose()
info5.head()

,marketing_digital,disenador,backend,pract_backend,frontend,asesor_comercial,atencion_ctes,socio_fundador,project_manager,movil_ios,movil_android
cantidad_t0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
egreso_t0,-8000.0,-27000.0,-35000.0,-8000.0,-18000.0,-20000.0,-8000.0,-35000.0,NaN,NaN,NaN
cantidad_t1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
egreso_t1,-8000.0,-27000.0,-35000.0,-8000.0,-18000.0,-20000.0,-8000.0,-35000.0,NaN,NaN,NaN
cantidad_t2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN

In [12]:
info6.head()

,cte_id,cte_fecha_adq,cte_fecha_aba,cte_cac,cte_in_0,cte_in_1,cte_in_2,cte_in_3,cte_in_4,cte_in_5,...,cte_in_86,cte_in_87,cte_in_88,cte_in_89,cte_in_90,cte_in_91,cte_in_92,cte_in_93,cte_in_94,cte_in_95
0,cte_0,t,t,100.00,0.000,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,cte_0_0,t0,t8,390.62,941.850,1031.550,740.025,1098.825,1143.675,1300.650,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,cte_0_1,t0,t13,390.62,1390.350,1098.825,919.425,1233.375,1076.400,1098.825,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,cte_0_2,t0,t6,390.62,1053.975,1143.675,1009.125,1166.100,919.425,1210.950,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,cte_0_3,t0,t14,390.62,1053.975,897.000,852.150,1188.525,1076.400,1031.550,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
info7 = info7.transpose()
info7.head()

,ingresos_totales,egresos_pub,egresos_rh,egresos_tec,egresos_servicios,egresos_totales,ebitda,impuestos,resultado,resultado_acum
t_0,64785.825,-50000.0,-159000.0,-9676.67,-23200.0,-241876.67,-177090.845,0.0000,-177090.8450,-1.770908e+05
t_1,540577.050,-50000.0,-159000.0,-9705.17,-23200.0,-241905.17,298671.880,89601.5640,209070.3160,3.197947e+04
t_2,892896.225,-50000.0,-159000.0,-9919.17,-23200.0,-242119.17,650777.055,195233.1165,455543.9385,4.875234e+05
t_3,784695.600,-50000.0,-254000.0,-10786.17,-27400.0,-342186.17,442509.430,132752.8290,309756.6010,7.972800e+05
t_4,727601.550,-50000.0,-254000.0,-10809.67,-27400.0,-342209.67,385391.880,115617.5640,269774.3160,1.067054e+06

In [14]:
info8 = info8.transpose()
info8.head()

     ctes_act  ctes_aba  cac_prom  ing_prom  capc    pv    vu    uc
t_0       0.0       0.0    863.79   1136.59  0.47  0.09  0.10  0.06
t_1      57.0      11.0    205.96   1133.29  0.47  0.14  0.18  0.16
t_2     477.0     106.0    166.78   1114.73  0.47  0.12  0.13  0.25
t_3     801.0     266.0    211.30   1114.62  0.47  0.08  0.07  0.08
t_4     704.0     406.0    245.68   1131.57  0.47  0.08  0.12  0.07

In [15]:
info9 = info9.transpose()
info9.head()

     Empleados_Totales  Egreso_Total  M_Sueldo  T_Prest_i  T_Prest_g
t_0                8.0     -159000.0       1.0        0.0        0.0
t_1                8.0     -159000.0       1.0        0.0        0.0
t_2                8.0     -159000.0       1.0        0.0        0.0
t_3               11.0     -254000.0       1.0        0.0        0.0
t_4               11.0     -254000.0       1.0        0.0        0.0

In [16]:
info10 = info10.transpose()
info10.head()

,marketing_digital,disenador,backend,pract_backend,frontend,asesor_comercial,atencion_ctes,socio_fundador,project_manager,movil_ios,movil_android
cantidad_t0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
egreso_t0,-8000.0,-27000.0,-35000.0,-8000.0,-18000.0,-20000.0,-8000.0,-35000.0,NaN,NaN,NaN
cantidad_t1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN
egreso_t1,-8000.0,-27000.0,-35000.0,-8000.0,-18000.0,-20000.0,-8000.0,-35000.0,NaN,NaN,NaN
cantidad_t2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN

In [17]:
info11 = info11.transpose()
info11.head()

,0,1,2,3,4,5,6,7,8,9,...,11415,11416,11417,11418,11419,11420,11421,11422,11423,11424
cte_id,cte_0,cte_0_0,cte_0_1,cte_0_2,cte_0_3,cte_0_4,cte_0_5,cte_0_6,cte_0_7,cte_0_8,...,cte_95_32,cte_95_33,cte_95_34,cte_95_35,cte_95_36,cte_95_37,cte_95_38,cte_95_39,cte_95_40,cte_95_41
cte_fecha_adq,t,t0,t0,t0,t0,t0,t0,t0,t0,t0,...,t95,t95,t95,t95,t95,t95,t95,t95,t95,t95
cte_fecha_aba,t,t8,t8,t2,t6,t19,t17,t1,t6,t5,...,tn,tn,tn,tn,tn,tn,tn,tn,tn,tn
cte_cac,100,877.19,877.19,877.19,877.19,877.19,877.19,877.19,877.19,877.19,...,1190.48,1190.48,1190.48,1190.48,1190.48,1190.48,1190.48,1190.48,1190.48,1190.48
cte_in_0,0,1143.67,1278.22,1053.97,986.7,897,1255.8,1457.62,964.275,986.7,...,0,0,0,0,0,0,0,0,0,0

## Procesos a desarrollar
#### Requerimiento 1 Estimar función de densidad de probabilidad por método paramétrico

In [18]:
# función de densidad de probabilidad por método paramétrico
def best_fit_distribution(data, bins=200):    
    """Model data by finding best fit distribution to data"""
    '''O. Jaramillo Zuloaga'''
    y, x = np.histogram(data, bins=bins, density=True)
    x = (x + np.roll(x, -1))[:-1] / 2.0
    
    from scipy import stats as st
    DISTRIBUTIONS = [        
        st.alpha,st.anglit,st.arcsine,st.beta,st.betaprime,st.bradford,st.burr,st.cauchy,st.chi,st.chi2,st.cosine,
        st.dgamma,st.dweibull,st.erlang,st.expon,st.exponnorm,st.exponweib,st.exponpow,st.f,st.fatiguelife,st.fisk,
        st.foldcauchy,st.foldnorm,st.frechet_r,st.frechet_l,st.genlogistic,st.genpareto,st.gennorm,st.genexpon,
        st.genextreme,st.gausshyper,st.gamma,st.gengamma,st.genhalflogistic,st.gilbrat,st.gompertz,st.gumbel_r,
        st.gumbel_l,st.halfcauchy,st.halflogistic,st.halfnorm,st.halfgennorm,st.hypsecant,st.invgamma,st.invgauss,
        st.invweibull,st.johnsonsb,st.johnsonsu,st.ksone,st.kstwobign,st.laplace,st.levy,st.levy_l,st.levy_stable,
        st.logistic,st.loggamma,st.loglaplace,st.lognorm,st.lomax,st.maxwell,st.mielke,st.nakagami,st.ncx2,st.ncf,
        st.nct,st.norm,st.pareto,st.pearson3,st.powerlaw,st.powerlognorm,st.powernorm,st.rdist,st.reciprocal,
        st.rayleigh,st.rice,st.recipinvgauss,st.semicircular,st.t,st.triang,st.truncexpon,st.truncnorm,st.tukeylambda,
        st.uniform,st.vonmises,st.vonmises_line,st.wald,st.weibull_min,st.weibull_max,st.wrapcauchy
    ]
    
    best_distribution = st.norm
    best_params = (0.0, 1.0)
    best_sse = np.inf    
    for distribution in DISTRIBUTIONS:
        import warnings        
        try:                
            warnings.filterwarnings('ignore')                
            params = distribution.fit(data)
            arg = params[:-2]
            loc = params[-2]
            scale = params[-1]
            pdf = distribution.pdf(x, loc=loc, scale=scale, *arg)
            sse = np.sum(np.power(y - pdf, 2.0))                                
            if best_sse > sse:
                best_distribution = distribution
                best_params = params
                best_sse = sse
        except Exception:
            pass 
    return (best_distribution.name, best_params)

In [19]:
best_dist = best_fit_distribution(val)
best_dist

('vonmises_line', (1.4825214288992998, 99287930.75471371, 30669588.094487313))

In [31]:
best_dist = best_fit_distribution(ingresos_totales)
best_dist

('gennorm', (1.3895383278423845, 498411.23933446023, 104652.86378641053))

In [75]:
# DISTRIBUCIÓN VALUACIONES
dist = st.vonmises_line
args = dist.fit(val)
distvl = st.vonmises_line.pdf(ingresos_totales, *args)
st.kstest(val, dist.cdf, args)

KstestResult(statistic=0.056594814705668184, pvalue=0.9090481974982458)

In [45]:
# DISTRIBUCIÓN PARA INGRESOS TOTALES
dist = st.gennorm
args = dist.fit(ingresos_totales)
distgn = st.gennorm.pdf(ingresos_totales, *args)
st.kstest(ingresos_totales, dist.cdf, args)

KstestResult(statistic=0.0386782227150444, pvalue=0.9987703197728868)

In [107]:
dist_gn_norm = (distgn - distgn.mean()) / (distgn.max()-distgn.min())

## Gráficas a desarrollar
#### Requerimiento 1 Graficar histograma de datos.

In [114]:
#CON PLOTLY
data= [go.Histogram(x=val, nbinsx= 30, name='Valuación')]
layout = go.Layout(title='HISTOGRAMA DE DATOS', xaxis=dict(title='Valuación'),yaxis=dict(title='Iteraciones'))
fig = go.Figure(data=data,layout=layout)
iplot(fig, filename = 'Hist')

In [33]:
# HISTOGRAMA INGRESOS_TOTALES CON PLOTLY
data= [go.Histogram(x=ingresos_totales, nbinsx= 30, name='Ingresos Totales')]
layout = go.Layout(title='HISTOGRAMA DE DATOS', xaxis=dict(title='Ingresos Totales'),yaxis=dict(title='Iteraciones'))
fig = go.Figure(data=data,layout=layout)
iplot(fig, filename = 'Hist')

#### Requerimiento 2 Graficar densidad de probabilidad ajustada superpuesta de histograma de datos

In [119]:
# MÉTODO PARAMÉTRICO PARA VALUACIONES
val_norm = (val - val.mean()) / (val.max()-val.min())#NORMALIZANDO LOS DATOS
dist_vl_norm = (distvl - distvl.mean()) / (distvl.max()-distvl.min())
x = np.linspace(val_norm.min(), val_norm.max(), 100)
data1 = go.Scatter(x=x, x= dist_vl_norm, mode= 'markers', name= 'Función vonmises line')
data2 = go.Histogram(x=val_norm, nbinsx= 30, name='Valuación')
data= [data1, data2]
layout = go.Layout(title='Comparación con distribución obtenida', xaxis=dict(title='Iteración'),yaxis=dict(title='Valuación'))
fig = go.Figure(data=data,layout=layout)
iplot(fig, filename = 'Hist')

In [113]:
# MÉTODO PARAMÉTRICO PARA INGRESOS TOTALES
x = np.linspace(ingresos_totales.min(), ingresos_totales.max(), 100)
data1 = go.Scatter( x=x, y= dist_gn_norm, mode= 'markers', name= 'Función vonmises line')
data2 = go.Histogram(x=ingresos_totales, nbinsx= 30, name='Valuación')
data= [data1, data2]
layout = go.Layout(title='Comparación con distribución obtenida', xaxis=dict(title='Iteración'),yaxis=dict(title='Valuación'))
fig = go.Figure(data=data,layout=layout)
iplot(fig, filename = 'Hist')

In [ ]:
# MÉTODO NO PARAMÉTRICO
data1 = go.Scatter(x=x, y= (kde(x) * len(val) * val.max() / 30), mode= 'markers', name= 'Función no paramétrica(KDE)')
data2 = go.Histogram(x=val, nbinsx= 30, name='Valuación')
data= [data1, data2]
layout = go.Layout(title='Comparación con distribución obtenida', xaxis=dict(title='Iteraciones'),yaxis=dict(title='Valuación'))
fig = go.Figure(data=data,layout=layout)
iplot(fig, filename = 'Hist')

#### Requerimiento 3 Gráfica de linea para serie de tiempo y lineas verticales.

In [ ]:
# PENDIENTE.